@charset "UTF-8";
/*reset start */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/*reset end */
/*header style start */
header {
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #F2CE00;
  position: fixed;
  z-index: 2;
}

.logo {
  height: 30px;
  width: 130px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4%;
}

.logoImg {
  height: 30px;
  width: 130px;
}

/*header style end */
/*hamburger menu start */
.hamburger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
  width: 35px;
  height: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: #6CA001 4px solid;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  border-top: 4px solid #6CA001;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.hamburger::after {
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.hamburger--active {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.hamburger--active::before {
  width: 50%;
  left: 25%;
}

.hamburger--active::after {
  width: 70%;
  left: 15%;
}

/*hamburger menu end */
/*side Meunu*/
.sideMenu {
  position: fixed;
  top: 0;
  width: 65%;
  height: 100vh;
  background-color: #6CA001;
  left: -65%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 3;
  opacity: 0.98;
}

.sideMenuNavi {
  position: relative;
  top: 50px;
  left: 6%;
  list-style-type: none;
  width: 220px;
}

.menuElemnet {
  width: 220px;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.menuElemnet:hover {
  border-bottom: 1px solid black;
}

.sideMenu--active {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

/* start baner style */
.baner {
  position: relative;
  top: 50px;
  height: 360px;
  width: 100%;
}

.banerText {
  display: none;
}

.glassImg {
  width: 160px;
  height: 330px;
}

.glass {
  width: 160px;
  height: 330px;
  position: relative;
  top: 10px;
  left: 28px;
}

.beerContainer1 {
  position: absolute;
  bottom: 20px;
  left: 33px;
  width: 89px;
  height: 0;
  background-color: #F2CE00;
  z-index: -1;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.beerContainer2 {
  position: absolute;
  bottom: 80px;
  left: 31px;
  width: 94px;
  height: 0;
  background-color: #DE7A25;
  z-index: -1;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.beerContainer3 {
  position: absolute;
  bottom: 140px;
  left: 22px;
  width: 111px;
  height: 0;
  background-color: #650F0E;
  z-index: -1;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.beerContainer4 {
  position: absolute;
  bottom: 198px;
  left: 12px;
  width: 135px;
  height: 0;
  background-color: #241113;
  z-index: -1;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.beerContainer5 {
  position: absolute;
  bottom: 257px;
  left: 10px;
  width: 134px;
  height: 0;
  background-color: #F2F0EB;
  z-index: -1;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.beerContainerGrow {
  height: 60px;
}

.beerContainer5Grow {
  height: 32px;
}

.arrowZone {
  position: absolute;
  top: 24px;
  left: 182px;
  height: 300px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.arrowBox {
  position: relative;
  width: 133px;
  height: 35px;
  left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.arrowhead {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.arrowhead::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 12px;
  background-color: white;
  width: 18px;
  height: 40px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.rayArrow {
  position: absolute;
  top: 54%;
  left: 16%;
  width: 100px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
}

.colorEBC {
  font-size: 11px;
  line-height: 20px;
  color: white;
  -webkit-transition: 2s;
  transition: 2s;
}

.arrowFontColor {
  color: #6CA001;
  color: whitesmoke;
}

/* end baner style */
/*main style start*/
.section1 {
  position: relative;
  top: 50px;
  left: 17px;
  width: 326px;
  height: 554px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.allArcticle {
  width: 306px;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.allArcticle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-right: 3px solid #6CA001;
}

.titleSection {
  position: relative;
  font-size: 20px;
  width: 250px;
  left: -13%;
}

.sectionsWithReadMore {
  position: relative;
  top: 50px;
  left: 17px;
  width: 326px;
  height: 663px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.readMore {
  position: relative;
  font-size: 16px;
  width: 121px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  line-height: 35px;
}

.readMore::after {
  content: "";
  width: 121px;
  height: 35px;
  position: absolute;
  left: -4px;
  top: 2px;
  background-color: #F2CE00;
  z-index: -1;
  -webkit-transition: 0, 2s linear;
  transition: 0, 2s linear;
}

.readMore:hover:after {
  left: 1px;
  top: -5px;
}

.firstWordTitle {
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.backgroundTitle {
  background-color: #6CA001;
}

.imgArcticle {
  width: 153px;
  height: 93px;
}

.containerForImgArticle {
  width: 153px;
  height: 93px;
  font-size: 50px;
  color: #6CA001;
  background: rgba(242, 206, 0, 0.54);
  text-align: center;
}

.tetlearcticle {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 16px;
}

.contact {
  position: relative;
  top: 50px;
  width: 100%;
  height: 500px;
}

.formTitle {
  margin-bottom: 40px;
  position: relative;
  left: 11px;
}

form {
  position: relative;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(242, 206, 0, 0.54);
  width: 80%;
  height: 400px;
}

.windowForm {
  width: 250px;
  height: 35px;
  border: none;
  font-size: 16px;
  padding-left: 5px;
}

.textereaFrom {
  width: 250px;
  height: 100px;
  resize: none;
  border: none;
  font-size: 18px;
  padding-top: 4px;
  padding-left: 5px;
}

.formBtn {
  position: relative;
  width: 121px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.formBtn::after {
  content: "Wyśli";
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 121px;
  height: 35px;
  border: 1px solid black;
  z-index: 1;
}

.formBtn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -3px;
  display: inline-block;
  width: 121px;
  height: 35px;
  background-color: #6CA001;
  z-index: 0;
}

.formBtn:hover:before {
  top: -3px;
  left: 6px;
}

input:not(:placeholder-shown):invalid {
  -webkit-box-shadow: 1px 1px 3px 2px red;
          box-shadow: 1px 1px 3px 2px red;
}

input:not(:placeholder-shown):valid {
  -webkit-box-shadow: 1px 1px 3px 2px #6CA001;
          box-shadow: 1px 1px 3px 2px #6CA001;
}

/*main stele end*/
/*footer */
footer {
  position: relative;
  top: 50px;
  text-align: center;
  height: 30px;
  width: 100%;
  line-height: 30px;
  background-color: #F2CE00;
}

.wrapper {
  height: 4270px;
  overflow: hidden;
}

/*8responsiveness website */
@media screen and (min-width: 400px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    left: 30px;
  }
  .formTitle {
    left: 30px;
  }
  .containerForImgArticle {
    height: 100%;
  }
}

@media screen and (min-width: 500px) {
  .wrapper {
    height: 4440px;
  }
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    width: 400px;
    left: 30px;
    height: 650px;
    margin-bottom: 50px;
  }
  .titleSection {
    left: -20%;
  }
  .allArcticle {
    width: 364px;
    height: 110px;
  }
  .containerForImgArticle {
    height: 121px;
    width: 50%;
  }
  .imgArcticle {
    height: 100%;
    width: 100%;
  }
  .tetlearcticle {
    width: 50%;
  }
  .glassBox {
    position: relative;
    width: 350px;
    left: 50px;
  }
  .containerForImgArticle {
    height: 100%;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    height: 4990px;
  }
  .sideMenu {
    width: 50%;
  }
  .sideMenu--active {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  .glassBox {
    left: 80px;
  }
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    width: 500px;
    left: 25px;
    height: 650px;
    margin-bottom: 50px;
  }
  form {
    width: 60%;
    left: 20%;
  }
}

@media screen and (min-width: 600px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    width: 600px;
    left: 25px;
    height: 760px;
  }
  .titleSection {
    left: -22%;
    font-size: 22px;
    width: 260px;
  }
  .allArcticle {
    height: 150px;
    width: 400px;
  }
}

@media screen and (min-width: 800px) {
  .baner {
    height: 520px;
  }
  .titleSection {
    width: 260px;
    left: -30%;
  }
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    left: 100px;
  }
  .wrapper {
    height: 5151px;
  }
  form {
    width: 50%;
    left: 25%;
  }
  .glassBox {
    left: 65px;
    top: 65px;
  }
  .banerText {
    position: absolute;
    display: block;
    left: 60%;
    top: 25%;
    height: 200px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    border-bottom: 4px solid #6CA001;
    border-right: 4px solid #6CA001;
  }
  .sideMenu {
    width: 30%;
    left: -69%;
  }
  .sideMenu--active {
    -webkit-transform: translateX(230%);
            transform: translateX(230%);
  }
}

@media screen and (min-width: 1000px) {
  .glassBox {
    left: 30%;
    top: 65px;
  }
  form {
    width: 33%;
    left: 33%;
  }
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    left: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titleSection {
    position: absolute;
    left: 62px;
    top: 0;
  }
  .allArcticle {
    height: 45%;
    width: 45%;
  }
  .arcticle1,
  .arcticle4 {
    height: 35%;
    width: 50%;
  }
  .arcticle2,
  .arcticle3 {
    height: 30%;
    width: 35%;
  }
  .tetlearcticle {
    font-size: 20px;
  }
  .readMore {
    position: absolute;
    left: calc(50% - 121px);
    bottom: 0;
  }
  .formTitle {
    left: 5%;
  }
  .containerForImgArticle {
    font-size: 123px;
  }
  form {
    width: 33%;
    left: 33%;
    border-radius: 0px 0px 86px 0px;
    border: 0px solid #000000;
  }
}
/*# sourceMappingURL=style.css.map */