/*banner style*/
.banner {
    position: relative;
    top: 54px;
    height: 400px;
    width: 100%;
    background-color: brown;
}

.glassImage {
    position: absolute;
    top: 7%;
    left: 8%;
    width: 47%;
    height: 88%;
    z-index: 1;
}

.glassBox1 {
    position: absolute;
    width: 100px;
    height: 0;
    left: 18%;
    bottom: 10%;
    background-color:$beer-color1;
}

.glassBox2 {
    position: absolute;
    width: 103px;
    height: 0;
    left: 16%;
    bottom: 26%;
    background-color:$beer-color2;
}

.glassBox3 {
    position: absolute;
    width: 115px;
    height: 0;
    left: 15%;
    bottom: 42%;
    background-color:$beer-color3;
}

.glassBox4 {
    position: absolute;
    width: 143px;
    height: 0;
    left: 12%;
    bottom: 58%;
    background-color:$beer-color4;
}

.glassBox5 {
    position: absolute;
    width: 143px;
    height: 0;
    left: 12%;
    bottom: 74%;
    background-color:$beer-color5;
}
.pouringBeer{
    transition: 1s linear;
    height: 66px;
}

.foam{
    transition: 1s linear;
    height: 33px;
}
/*banner style end*/ 