/* header styles*/
.wrapper {
  transition: 0.2s;
 
}

header {
  width: 100%;
  height: 54px;
  background-color: $color-header;
  position: fixed;
  z-index: 2;

}

.logoContainer {
  width: 120px;
  height: 28px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  left: 2%;
}

.logoImage {
  width: 120px;
  height: 28px;
}

/* "Nazwa sekcji pamietaj!!!  */
.reductionWrapper {
  animation: reductionWrapper linear 0.2s forwards;
}

.enlargenWrapper {
  animation: enlargenWrapper linear 0.2s forwards;
}

@keyframes reductionWrapper {
  0% {}

  100% {
    transform: scale(0.90, 0.99);
  }
}

@keyframes enlargenWrapper {
  0% {
    transform: scale(0.90, 0.99);
  }

  100% {
    transform: scale(1);
  }
}

/*Haburger Menu*/
.hamburgerMenu {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border-top: solid $color-green 6px;
  cursor: pointer;
}

.hamburgerMenu::before {
  content: "";
  position: absolute;
  top: 24%;
  width: 100%;
  border-bottom: solid $color-green 6px;
}

.hamburgerMenu::after {
  content: "";
  position: absolute;
  top: 70%;
  width: 100%;
  border-bottom: solid $color-green 6px;
}

.hamburgerMenu:active::before {
  border-bottom: solid black 6px;
}

.hamburgerMenu:active::after {
  border-bottom: solid black 6px;
}

.hamburgerMenu:active {
  border-top: solid black 6px;
}

/* Enter the menu */
.enteringMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: $color-hamburgerMenu;
  opacity: 0.9;
  transition: 0.6s linear;

}

/* btn X */
.xLogo {
  position: absolute;
  display: block;
  right: 3%;
  top: 2%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.xLogo::before {
  content: "";
  display: block;
  position: relative;
  left: 0px;
  top: -1px;
  width: 37px;
  border-bottom: $color-green solid 5px;
  transform-origin: left;
  transform: rotate(45deg);

}

.xLogo::after {
  content: "";
  display: block;
  position: relative;
  right: 11px;
  top: -6px;
  width: 37px;
  border-bottom: $color-green dashed 5px;
  transform-origin: right;
  transform: rotate(-45deg);
}

.xLogo:active::after {
  border-bottom: black dashed 5px;
}

/* anchor for Ista*/
.istaIcon {
  font-size: 40px;
  position: relative;
  top: 5px;
  left: 20px;
}

/*side menu*/
.sideMenu {
  display: block;
  position: relative;
  top: 54px;
  left: 5%;
  font-size: 21px;
  width: 90%;
}

.sideMenuList {
  list-style-type: none;

  li {
    line-height: 45px;
    height: 45px;
    font-weight: bold;
    padding-left: 10px;

  }

  li:active {
    background-color: blue;
  }
}
/*Haburger Menu end*/

