/*hamburger menu start */
.hamburger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    width: 35px;
    height: 30px;
    background-color: transparent;
    border: 0;
    border-bottom: $color-hop 4px solid;
    cursor: pointer;
    transition: 0.3s linear;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    border-top: 4px solid $color-hop;
    transition: 0.3s linear;
}

.hamburger::after {
    transform: translateY(11px);
}

.hamburger--active {
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}

.hamburger--active::before {
    width: 50%;
    left: 25%;
}

.hamburger--active::after {
    width: 70%;
    left: 15%
}

/*hamburger menu end */

/*side Meunu*/
.sideMenu {
    position: fixed;
    top: 0;
    width: 65%;
    height: 100vh;
    background-color: $color-hop;
    left: -65%;
    transition: 0.3s linear;
    z-index: 3;
    opacity: 0.98;
}

.sideMenuNavi {
    position: relative;
    top: 50px;
    left: 6%;
    list-style-type: none;
    width: 220px;

}

.menuElemnet {
    width: 220px;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}
.menuElemnet:hover{
    border-bottom: 1px solid black;
}
.sideMenu--active {
    transform-origin: left;
    transform: translateX(100%)
}